<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navbar.html :: header( title = 'Reporte-Sueldos')"></head>
<body>
<main>
  <h2>Reporte  Sueldos</h2>
  <div class="container px-4 pb-5">
    <table class="table">
      <thead>
      <tr>
        <th> Puesto</th>
        <th>Salario máximo</th>
        <th>Salario mínimo</th>
        <th>Salario total</th>
        <th>Salario Promedio </th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="sueldo, info : ${listaSueldos}">
        <td th:text="${sueldo.getJobTitle()}"></td>
        <td th:text="${sueldo..categoryname}"></td>
        <td th:text="${sueldo.salariominimo.companyname}"></td>
        <td th:text="${sueldo.unitprice}"></td>
        <td th:text="${product.unitsinstock}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</main>
<script th:replace="fragments/navbar.html :: footer-bootstrap"></script>
</body>
</html